In [1]:
import pandas as pd
import re
import geonamescache
from unidecode import unidecode
import tqdm

In [2]:
gc = geonamescache.GeonamesCache()

In [3]:
all_countries_name = [unidecode(country['name']) for country in gc.get_countries().values()]

all_cities_name = [unidecode(city['name']) for city in gc.get_cities().values()]
# alternative_names = {unidecode(city['name']):city['name'] for city in gc.get_cities().values() if city['name']!=unidecode(city['name'])}

In [4]:
r_cities_name = r"\b"+r"\b|\b".join(sorted(all_cities_name,key=lambda x:len(x),reverse=True))
r_countries_name = r"\b"+r"\b|\b".join(sorted(all_countries_name,key=lambda x:len(x),reverse=True))

In [5]:
with open("./data/headlines.txt") as f:
    headlines = [unidecode(text.strip()) for text in f]
df = pd.DataFrame(headlines,columns=['headline'])
df.head()

                                  headline
0                 Zika Outbreak Hits Miami
1          Could Zika Reach New York City?
2        First Case of Zika in Miami Beach
3  Mystery Virus Spreads in Recife, Brazil
4  Dallas man comes down with case of Zika

In [6]:
def find_country(x):
    temp = unidecode(x)
    match = re.search(r_countries_name,temp)
    if match:
        return x[match.start():match.end()]
    else:
        return float('NaN')
def find_city(x):
    temp = unidecode(x)
    match = re.search(r_cities_name,temp)
    if match:
        return x[match.start():match.end()]
    else:
        return float('NaN')

In [7]:
df["countries"] = df["headline"].apply(lambda x:find_country(x))
df.head(10)

                                  headline countries
0                 Zika Outbreak Hits Miami       NaN
1          Could Zika Reach New York City?       NaN
2        First Case of Zika in Miami Beach       NaN
3  Mystery Virus Spreads in Recife, Brazil    Brazil
4  Dallas man comes down with case of Zika       NaN
5        Trinidad confirms first Zika case       NaN
6   Zika Concerns are Spreading in Houston       NaN
7    Geneve Scientists Battle to Find Cure       NaN
8    The CDC in Atlanta is Growing Worried       NaN
9       Zika Infested Monkeys in Sao Paulo       NaN

In [8]:
df["cities"] = df["headline"].apply(lambda x:find_city(x))
df.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

In [9]:
df[df.countries.isna()&df.cities.isna()]

                                              headline countries cities
17                       Louisiana Zika cases up to 26       NaN    NaN
19                 Zika infects pregnant woman in Cebu       NaN    NaN
48                      Spanish Flu Sighted in Antigua       NaN    NaN
63   Carnival under threat in Rio De Janeiro due to...       NaN    NaN
73                          Zika case reported in Oton       NaN    NaN
76   Hillsborough uses innovative trap against Zika...       NaN    NaN
88            Maka City Experiences Influenza Outbreak       NaN    NaN
139             More Zika patients reported in Mcallen       NaN    NaN
156            West Nile Virus Outbreak in Saint Johns       NaN    NaN
233  More people in Mclean are infected with Hepati...       NaN    NaN
234                         Malaria Exposure in Sussex       NaN    NaN
248              Greenwich Establishes Zika Task Force       NaN    NaN
252         Will West Nile Virus vaccine help Parsons?       NaN    NaN
257          Yulee takes a hit from Spreading Sickness       NaN    NaN
270  The Spread of Chikungunya in Davidson has been...       NaN    NaN
286                  Zika case reported in Los Fresnos       NaN    NaN
308  More people in Boucau are infected with HIV ev...       NaN    NaN
327                   Bronchitis Outbreak in Manhasset       NaN    NaN
339              Zika Troubles come to Padre Las Casas       NaN    NaN
342  Rumors about Influenza Spreading in Dobbs Ferr...       NaN    NaN
352                         Outbreak of Zika in Destin       NaN    NaN
366  More people in Huron are infected with Dengue ...       NaN    NaN
378       Will Tuberculosis vaccine help Cherry Creek?       NaN    NaN
379  Gympie Patient in Critical Condition after Con...       NaN    NaN
429           Spike of Meningitis Cases in Druid Hills       NaN    NaN
460            Martinsville tests new cure for Measles       NaN    NaN
463  More Patients in Magnolia are Getting Diagnose...       NaN    NaN
482  Rumors about Syphilis spreading in Penal have ...       NaN    NaN
508        Fort Belvoir tests new cure for Hepatitis C       NaN    NaN
509  More people in Oak Brook are infected with Res...       NaN    NaN
516                       Outbreak of Zika in Hutchins       NaN    NaN
520       Longwood volunteers spreading Zika awareness       NaN    NaN
523                   Zika symptoms spotted in Quixere       NaN    NaN
567                                 Measles Hits Davos       NaN    NaN
582        Spike of Hepatitis E Cases in Morehead City       NaN    NaN
585                       Outbreak of Zika in Alvorada       NaN    NaN
598  Schools in Coamo Closed Due to Rhinovirus Outb...       NaN    NaN
599                           Zika arrives in Dangriga       NaN    NaN
604  More Patients in Maynard are Getting Diagnosed...       NaN    NaN
628                    Zika case reported in Antioquia       NaN    NaN
630               Chikungunya has not Left Pismo Beach       NaN    NaN
631                            Zika spreads to La Joya       NaN    NaN

In [10]:
a = unidecode("Louisiana")
k = re.findall(r_cities_name,a,)
print(a,k)

Louisiana []